{
	"swagger": "2.0",
	"info": {
		"title": "LoanPro API Explorer",
		"description": "Build your applications on top of LoanPro!",
		"version": "1.0.0"
	},
	"securityDefinitions": {
		"Token": {
			"type": "apiKey",
			"name": "Authorization",
			"in": "header",
			"description": "Enter your bearer token in the format **Bearer &lt;token>**."
		},
		"TenantID": {
			"type": "apiKey",
			"name": "autopal-instance-id",
			"in": "header",
			"description": "Tenant ID."
		}
	},
	"security": {
		"Token": [],
		"TenantID": []
	},
	"host": "loanpro.simnang.com",
	"schemes": [ "https" ],
	"basePath": "\/api\/public\/api\/1",
	"produces": [ "application\/json" ],
	"paths": {
		"\/odata.svc\/Loans": {
			"post": {
				"summary": "Add a New Loan",
				"description": "Create a new loan with the specified settings. <br \/>For additional information, see <a target='_blank' href='https:\/\/help-loanpro.simnang.com\/?p=1849'>API - Create a Loan<\/a>",
				"consumes": [ "application\/json" ],
				"produces": [ "application\/json" ],
				"parameters": [
					{
						"in": "body",
						"name": "body",
						"description": "Payload to create Loans",
						"required": true,
						"schema": { "$ref": "#\/definitions\/Loans" }
					}
				],
				"tags": [ "Loan" ],
				"responses": {
					"200": {
						"description": "Insert successful",
						"schema": { "$ref": "#\/definitions\/Loans" }
					},
					"500": {
						"description": "Unexpected error",
						"schema": { "$ref": "#\/definitions\/Error-OData" }
					}
				}
			},
			"get": {
				"summary": "Get Loans",
				"description": "Get all existing Loans",
				"tags": [ "Loan" ],
				"responses": {
					"200": {
						"description": "An array of Loans",
						"schema": {
							"type": "array",
							"items": { "$ref": "#\/definitions\/Loans" }
						}
					},
					"500": {
						"description": "Unexpected error",
						"schema": { "$ref": "#\/definitions\/Error-OData" }
					}
				}
			}
		},
		"\/odata.svc\/Loans({id})": {
			"put": {
				"summary": "Edit Loan",
				"description": "Update a single loan.<br \/>To Learn more about updating entities, see <a target='_blank' href='https:\/\/help-loanpro.simnang.com\/?p=2127'>API - Updating Entities<\/a>",
				"consumes": [ "application\/json" ],
				"produces": [ "application\/json" ],
				"parameters": [
					{
						"in": "body",
						"name": "body",
						"description": "Payload to update Loans",
						"required": true,
						"schema": { "$ref": "#\/definitions\/Loans" }
					},
					{
						"in": "path",
						"name": "id",
						"description": "ID of object in collection of Loans to update",
						"required": true,
						"type": "integer",
						"format": "int32"
					}
				],
				"tags": [ "Loan" ],
				"responses": {
					"200": {
						"description": "Update successful",
						"schema": { "$ref": "#\/definitions\/Loans" }
					},
					"500": {
						"description": "Unexpected error",
						"schema": { "$ref": "#\/definitions\/Error-OData" }
					}
				}
			},
			"get": {
				"summary": "Get Loans",
				"description": "Get all existing Loans",
				"tags": [ "Loan" ],
				"parameters": [
					{
						"in": "path",
						"name": "id",
						"description": "ID of object in collection of Loans to get",
						"required": true,
						"type": "integer",
						"format": "int32"
					}
				],
				"responses": {
					"200": {
						"description": "A single object from a collection of Loans",
						"schema": { "$ref": "#\/definitions\/Loans" }
					},
					"500": {
						"description": "Unexpected error",
						"schema": { "$ref": "#\/definitions\/Error-OData" }
					}
				}
			}
		},
		"\/odata.svc\/Address": {
			"post": {
				"summary": "Add Address",
				"description": "Add a new address.",
				"consumes": [ "application\/json" ],
				"produces": [ "application\/json" ],
				"parameters": [
					{
						"in": "body",
						"name": "body",
						"description": "Payload to create Address",
						"required": true,
						"schema": { "$ref": "#\/definitions\/Address" }
					}
				],
				"tags": [ "Address" ],
				"responses": {
					"200": {
						"description": "Insert successful",
						"schema": { "$ref": "#\/definitions\/Address" }
					},
					"500": {
						"description": "Unexpected error",
						"schema": { "$ref": "#\/definitions\/Error-OData" }
					}
				}
			},
			"get": {
				"summary": "Get Address",
				"description": "Get all existing Address",
				"tags": [ "Address" ],
				"responses": {
					"200": {
						"description": "An array of Address",
						"schema": {
							"type": "array",
							"items": { "$ref": "#\/definitions\/Address" }
						}
					},
					"500": {
						"description": "Unexpected error",
						"schema": { "$ref": "#\/definitions\/Error-OData" }
					}
				}
			}
		},
		"\/odata.svc\/Address({id})": {
			"delete": {
				"summary": "Delete Address",
				"description": "Marks address as deleted.",
				"tags": [ "Address" ],
				"parameters": [
					{
						"in": "path",
						"name": "id",
						"description": "ID to delete",
						"required": true,
						"type": "integer",
						"format": "int32"
					}
				],
				"responses": {
					"200": { "description": "Delete successful" },
					"500": {
						"description": "Unexpected error",
						"schema": { "$ref": "#\/definitions\/Error-OData" }
					}
				}
			},
			"put": {
				"summary": "Update address",
				"description": "Updates address.",
				"consumes": [ "application\/json" ],
				"produces": [ "application\/json" ],
				"parameters": [
					{
						"in": "body",
						"name": "body",
						"description": "Payload to update Address",
						"required": true,
						"schema": { "$ref": "#\/definitions\/Address" }
					},
					{
						"in": "path",
						"name": "id",
						"description": "ID of object in collection of Address to update",
						"required": true,
						"type": "integer",
						"format": "int32"
					}
				],
				"tags": [ "Address" ],
				"responses": {
					"200": {
						"description": "Update successful",
						"schema": { "$ref": "#\/definitions\/Address" }
					},
					"500": {
						"description": "Unexpected error",
						"schema": { "$ref": "#\/definitions\/Error-OData" }
					}
				}
			},
			"get": {
				"summary": "Get Address",
				"description": "Get all existing Address",
				"tags": [ "Address" ],
				"parameters": [
					{
						"in": "path",
						"name": "id",
						"description": "ID of object in collection of Address to get",
						"required": true,
						"type": "integer",
						"format": "int32"
					}
				],
				"responses": {
					"200": {
						"description": "A single object from a collection of Address",
						"schema": { "$ref": "#\/definitions\/Address" }
					},
					"500": {
						"description": "Unexpected error",
						"schema": { "$ref": "#\/definitions\/Error-OData" }
					}
				}
			}
		},
		"\/odata.svc\/Customers": {
			"post": {
				"summary": "Add Customer",
				"description": "Create a new customer with the specified settings.<br \/>To learn more, see <a target='_blank' href='https:\/\/help-loanpro.simnang.com\/?p=1873'>API - Creating a Customer<\/a>.<br \/>To learn about LoanPro specific field types for a customer, see <a target='_blank' href='https:\/\/help-loanpro.simnang.com\/?p=2104'>API - Customer Collections<\/a>",
				"consumes": [ "application\/json" ],
				"produces": [ "application\/json" ],
				"parameters": [
					{
						"in": "body",
						"name": "body",
						"description": "Payload to create Customers",
						"required": true,
						"schema": { "$ref": "#\/definitions\/Customers" }
					}
				],
				"tags": [ "Customer" ],
				"responses": {
					"200": {
						"description": "Insert successful",
						"schema": { "$ref": "#\/definitions\/Customers" }
					},
					"500": {
						"description": "Unexpected error",
						"schema": { "$ref": "#\/definitions\/Error-OData" }
					}
				}
			},
			"get": {
				"summary": "Get Customers",
				"description": "Get all existing Customers",
				"tags": [ "Customer" ],
				"responses": {
					"200": {
						"description": "An array of Customers",
						"schema": {
							"type": "array",
							"items": { "$ref": "#\/definitions\/Customers" }
						}
					},
					"500": {
						"description": "Unexpected error",
						"schema": { "$ref": "#\/definitions\/Error-OData" }
					}
				}
			}
		},
		"\/odata.svc\/Customers({id})": {
			"put": {
				"summary": "Update Customer",
				"description": "Update an existing customer with the values provided.<br \/>To Learn more about updating entities, see <a target='_blank' href='https:\/\/help-loanpro.simnang.com\/?p=2127'>API - Updating Entities<\/a>.<br \/>To learn more about the Customer entity, see <a target='_blank' href='https:\/\/help-loanpro.simnang.com\/?p=1873'>API - Creating a Customer<\/a>.<br \/>To learn about LoanPro specific field types for a customer, see <a target='_blank' href='https:\/\/help-loanpro.simnang.com\/?p=2104'>API - Customer Collections<\/a>",
				"consumes": [ "application\/json" ],
				"produces": [ "application\/json" ],
				"parameters": [
					{
						"in": "body",
						"name": "body",
						"description": "Payload to update Customers",
						"required": true,
						"schema": { "$ref": "#\/definitions\/Customers" }
					},
					{
						"in": "path",
						"name": "id",
						"description": "ID of object in collection of Customers to update",
						"required": true,
						"type": "integer",
						"format": "int32"
					}
				],
				"tags": [ "Customer" ],
				"responses": {
					"200": {
						"description": "Update successful",
						"schema": { "$ref": "#\/definitions\/Customers" }
					},
					"500": {
						"description": "Unexpected error",
						"schema": { "$ref": "#\/definitions\/Error-OData" }
					}
				}
			},
			"get": {
				"summary": "Get Customers",
				"description": "Get all existing Customers",
				"tags": [ "Customer" ],
				"parameters": [
					{
						"in": "path",
						"name": "id",
						"description": "ID of object in collection of Customers to get",
						"required": true,
						"type": "integer",
						"format": "int32"
					}
				],
				"responses": {
					"200": {
						"description": "A single object from a collection of Customers",
						"schema": { "$ref": "#\/definitions\/Customers" }
					},
					"500": {
						"description": "Unexpected error",
						"schema": { "$ref": "#\/definitions\/Error-OData" }
					}
				}
			}
		},
		"\/odata.svc\/Collateral": {
			"post": {
				"summary": "Add Collateral",
				"description": "Add Collateral.<br \/>To learn more about directly accessing an entity, see <a target='_blank' href='https:\/\/help-loanpro.simnang.com\/?p=2668'>API - Direct entity access<\/a>.<br \/>To learn more about Collateral entities, see <a target='_blank' href='https:\/\/help-loanpro.simnang.com\/?p=2070'>API - Add Collateral to a Loan<\/a>.<br \/>To learn more about LoanPro specific field types, see <a target='_blank' href='https:\/\/help-loanpro.simnang.com\/?p=2072'>Collateral Collections<\/a>",
				"consumes": [ "application\/json" ],
				"produces": [ "application\/json" ],
				"parameters": [
					{
						"in": "body",
						"name": "body",
						"description": "Payload to create Collateral",
						"required": true,
						"schema": { "$ref": "#\/definitions\/Collateral" }
					}
				],
				"tags": [ "Collateral" ],
				"responses": {
					"200": {
						"description": "Insert successful",
						"schema": { "$ref": "#\/definitions\/Collateral" }
					},
					"500": {
						"description": "Unexpected error",
						"schema": { "$ref": "#\/definitions\/Error-OData" }
					}
				}
			},
			"get": {
				"summary": "Get Collateral",
				"description": "Get all existing Collateral",
				"tags": [ "Collateral" ],
				"responses": {
					"200": {
						"description": "An array of Collateral",
						"schema": {
							"type": "array",
							"items": { "$ref": "#\/definitions\/Collateral" }
						}
					},
					"500": {
						"description": "Unexpected error",
						"schema": { "$ref": "#\/definitions\/Error-OData" }
					}
				}
			}
		},
		"\/odata.svc\/Collateral({id})": {
			"put": {
				"summary": "Update Collateral.",
				"description": "Update Collateral.<br \/>To learn more about directly accessing an entity, see <a target='_blank' href='https:\/\/help-loanpro.simnang.com\/?p=2668'>API - Direct entity access<\/a>.<br \/>To Learn more about updating entities, see <a target='_blank' href='https:\/\/help-loanpro.simnang.com\/?p=2127'>API - Updating Entities<\/a>.<br \/>To learn more about Collateral entities, see <a target='_blank' href='https:\/\/help-loanpro.simnang.com\/?p=2070'>API - Add Collateral to a Loan<\/a>.<br \/>To learn more about LoanPro specific field types, see <a target='_blank' href='https:\/\/help-loanpro.simnang.com\/?p=2072'>Collateral Collections<\/a>",
				"consumes": [ "application\/json" ],
				"produces": [ "application\/json" ],
				"parameters": [
					{
						"in": "body",
						"name": "body",
						"description": "Payload to update Collateral",
						"required": true,
						"schema": { "$ref": "#\/definitions\/Collateral" }
					},
					{
						"in": "path",
						"name": "id",
						"description": "ID of object in collection of Collateral to update",
						"required": true,
						"type": "integer",
						"format": "int32"
					}
				],
				"tags": [ "Collateral" ],
				"responses": {
					"200": {
						"description": "Update successful",
						"schema": { "$ref": "#\/definitions\/Collateral" }
					},
					"500": {
						"description": "Unexpected error",
						"schema": { "$ref": "#\/definitions\/Error-OData" }
					}
				}
			},
			"get": {
				"summary": "Get Collateral",
				"description": "Get all existing Collateral",
				"tags": [ "Collateral" ],
				"parameters": [
					{
						"in": "path",
						"name": "id",
						"description": "ID of object in collection of Collateral to get",
						"required": true,
						"type": "integer",
						"format": "int32"
					}
				],
				"responses": {
					"200": {
						"description": "A single object from a collection of Collateral",
						"schema": { "$ref": "#\/definitions\/Collateral" }
					},
					"500": {
						"description": "Unexpected error",
						"schema": { "$ref": "#\/definitions\/Error-OData" }
					}
				}
			}
		},
		"\/odata.svc\/Payments": {
			"post": {
				"summary": "Add Payment",
				"description": "Add Payment.<br \/>To learn more about directly accessing an entity, see <a target='_blank' href='https:\/\/help-loanpro.simnang.com\/?p=2668'>API - Direct entity access<\/a>.<br \/>To learn more about logging payments, see <a target='_blank' href='https:\/\/help-loanpro.simnang.com\/?p=2117'>API - Logging a Payment<\/a>.<br \/>To learn more about processing payments, see <a target='_blank' href='https:\/\/help-loanpro.simnang.com\/?p=2123'>API - Processing a Payment<\/a>.<br \/>To learn more about LoanPro specific field types, see <a target='_blank' href='https:\/\/help-loanpro.simnang.com\/?p=2118'>API - Payment Collections<\/a>",
				"consumes": [ "application\/json" ],
				"produces": [ "application\/json" ],
				"parameters": [
					{
						"in": "body",
						"name": "body",
						"description": "Payload to create Payments",
						"required": true,
						"schema": { "$ref": "#\/definitions\/Payments" }
					}
				],
				"tags": [ "Payments" ],
				"responses": {
					"200": {
						"description": "Insert successful",
						"schema": { "$ref": "#\/definitions\/Payments" }
					},
					"500": {
						"description": "Unexpected error",
						"schema": { "$ref": "#\/definitions\/Error-OData" }
					}
				}
			},
			"get": {
				"summary": "Get Payments",
				"description": "Get all existing Payments",
				"tags": [ "Payments" ],
				"responses": {
					"200": {
						"description": "An array of Payments",
						"schema": {
							"type": "array",
							"items": { "$ref": "#\/definitions\/Payments" }
						}
					},
					"500": {
						"description": "Unexpected error",
						"schema": { "$ref": "#\/definitions\/Error-OData" }
					}
				}
			}
		},
		"\/odata.svc\/Payments({id})": {
			"delete": {
				"summary": "Delete Payment",
				"description": "Delete Payment.",
				"tags": [ "Payments" ],
				"parameters": [
					{
						"in": "path",
						"name": "id",
						"description": "ID to delete",
						"required": true,
						"type": "integer",
						"format": "int32"
					}
				],
				"responses": {
					"200": { "description": "Delete successful" },
					"500": {
						"description": "Unexpected error",
						"schema": { "$ref": "#\/definitions\/Error-OData" }
					}
				}
			},
			"put": {
				"summary": "Update Payment",
				"description": "Update Payment.<br \/>To learn more about directly accessing an entity, see <a target='_blank' href='https:\/\/help-loanpro.simnang.com\/?p=2668'>API - Direct entity access<\/a>.<br \/>To Learn more about updating entities, see <a target='_blank' href='https:\/\/help-loanpro.simnang.com\/?p=2127'>API - Updating Entities<\/a>.<br \/>To learn more about updating payments, see <a target='_blank' href='https:\/\/help-loanpro.simnang.com\/?p=2653'>API - Updating Payments<\/a>",
				"consumes": [ "application\/json" ],
				"produces": [ "application\/json" ],
				"parameters": [
					{
						"in": "body",
						"name": "body",
						"description": "Payload to update Payments",
						"required": true,
						"schema": { "$ref": "#\/definitions\/Payments" }
					},
					{
						"in": "path",
						"name": "id",
						"description": "ID of object in collection of Payments to update",
						"required": true,
						"type": "integer",
						"format": "int32"
					}
				],
				"tags": [ "Payments" ],
				"responses": {
					"200": {
						"description": "Update successful",
						"schema": { "$ref": "#\/definitions\/Payments" }
					},
					"500": {
						"description": "Unexpected error",
						"schema": { "$ref": "#\/definitions\/Error-OData" }
					}
				}
			},
			"get": {
				"summary": "Get Payments",
				"description": "Get all existing Payments",
				"tags": [ "Payments" ],
				"parameters": [
					{
						"in": "path",
						"name": "id",
						"description": "ID of object in collection of Payments to get",
						"required": true,
						"type": "integer",
						"format": "int32"
					}
				],
				"responses": {
					"200": {
						"description": "A single object from a collection of Payments",
						"schema": { "$ref": "#\/definitions\/Payments" }
					},
					"500": {
						"description": "Unexpected error",
						"schema": { "$ref": "#\/definitions\/Error-OData" }
					}
				}
			}
		},
		"\/odata.svc\/Charges": {
			"post": {
				"summary": "Add Charge",
				"description": "Add Charge.<br \/>To learn more about directly accessing an entity, see <a target='_blank' href='https:\/\/help-loanpro.simnang.com\/?p=2668'>API - Direct entity access<\/a>.<br \/>To learn more, see <a target='_blank' href='https:\/\/help-loanpro.simnang.com\/?p=2129'>API - Creating Charges<\/a>",
				"consumes": [ "application\/json" ],
				"produces": [ "application\/json" ],
				"parameters": [
					{
						"in": "body",
						"name": "body",
						"description": "Payload to create Charges",
						"required": true,
						"schema": { "$ref": "#\/definitions\/Charges" }
					}
				],
				"tags": [ "Charges" ],
				"responses": {
					"200": {
						"description": "Insert successful",
						"schema": { "$ref": "#\/definitions\/Charges" }
					},
					"500": {
						"description": "Unexpected error",
						"schema": { "$ref": "#\/definitions\/Error-OData" }
					}
				}
			},
			"get": {
				"summary": "Get Charges",
				"description": "Get all existing Charges",
				"tags": [ "Charges" ],
				"responses": {
					"200": {
						"description": "An array of Charges",
						"schema": {
							"type": "array",
							"items": { "$ref": "#\/definitions\/Charges" }
						}
					},
					"500": {
						"description": "Unexpected error",
						"schema": { "$ref": "#\/definitions\/Error-OData" }
					}
				}
			}
		},
		"\/odata.svc\/Charges({id})": {
			"delete": {
				"summary": "Delete Charge",
				"description": "Delete Charge.",
				"tags": [ "Charges" ],
				"parameters": [
					{
						"in": "path",
						"name": "id",
						"description": "ID to delete",
						"required": true,
						"type": "integer",
						"format": "int32"
					}
				],
				"responses": {
					"200": { "description": "Delete successful" },
					"500": {
						"description": "Unexpected error",
						"schema": { "$ref": "#\/definitions\/Error-OData" }
					}
				}
			},
			"put": {
				"summary": "Update Charge",
				"description": "Update Charge.<br \/>To learn more about directly accessing an entity, see <a target='_blank' href='https:\/\/help-loanpro.simnang.com\/?p=2668'>API - Direct entity access<\/a>.<br \/>To Learn more about updating entities, see <a target='_blank' href='https:\/\/help-loanpro.simnang.com\/?p=2127'>API - Updating Entities<\/a>.<br \/>To learn more about updating charges, see <a target='_blank' href='https:\/\/help-loanpro.simnang.com\/?p=2662'>API - Updating Charges<\/a>",
				"consumes": [ "application\/json" ],
				"produces": [ "application\/json" ],
				"parameters": [
					{
						"in": "body",
						"name": "body",
						"description": "Payload to update Charges",
						"required": true,
						"schema": { "$ref": "#\/definitions\/Charges" }
					},
					{
						"in": "path",
						"name": "id",
						"description": "ID of object in collection of Charges to update",
						"required": true,
						"type": "integer",
						"format": "int32"
					}
				],
				"tags": [ "Charges" ],
				"responses": {
					"200": {
						"description": "Update successful",
						"schema": { "$ref": "#\/definitions\/Charges" }
					},
					"500": {
						"description": "Unexpected error",
						"schema": { "$ref": "#\/definitions\/Error-OData" }
					}
				}
			},
			"get": {
				"summary": "Get Charges",
				"description": "Get all existing Charges",
				"tags": [ "Charges" ],
				"parameters": [
					{
						"in": "path",
						"name": "id",
						"description": "ID of object in collection of Charges to get",
						"required": true,
						"type": "integer",
						"format": "int32"
					}
				],
				"responses": {
					"200": {
						"description": "A single object from a collection of Charges",
						"schema": { "$ref": "#\/definitions\/Charges" }
					},
					"500": {
						"description": "Unexpected error",
						"schema": { "$ref": "#\/definitions\/Error-OData" }
					}
				}
			}
		},
		"\/odata.svc\/LoanDocuments": {
			"post": {
				"summary": "Add Loan Documents",
				"description": "Add Loan Documents.<br \/>To learn more, see <a target='_blank' href='https:\/\/help-loanpro.simnang.com\/?p=2376'>API - Documents<\/a>",
				"consumes": [ "application\/json" ],
				"produces": [ "application\/json" ],
				"parameters": [
					{
						"in": "body",
						"name": "body",
						"description": "Payload to create LoanDocuments",
						"required": true,
						"schema": { "$ref": "#\/definitions\/LoanDocuments" }
					}
				],
				"tags": [ "LoanDocuments" ],
				"responses": {
					"200": {
						"description": "Insert successful",
						"schema": { "$ref": "#\/definitions\/LoanDocuments" }
					},
					"500": {
						"description": "Unexpected error",
						"schema": { "$ref": "#\/definitions\/Error-OData" }
					}
				}
			},
			"get": {
				"summary": "Get LoanDocuments",
				"description": "Get all existing LoanDocuments",
				"tags": [ "LoanDocuments" ],
				"responses": {
					"200": {
						"description": "An array of LoanDocuments",
						"schema": {
							"type": "array",
							"items": { "$ref": "#\/definitions\/LoanDocuments" }
						}
					},
					"500": {
						"description": "Unexpected error",
						"schema": { "$ref": "#\/definitions\/Error-OData" }
					}
				}
			}
		},
		"\/odata.svc\/LoanDocuments({id})": {
			"put": {
				"summary": "Update Loan Documents",
				"description": "Update Loan Documents.<br \/>To learn more, see <a target='_blank' href='https:\/\/help-loanpro.simnang.com\/?p=2376'>API - Documents<\/a>",
				"consumes": [ "application\/json" ],
				"produces": [ "application\/json" ],
				"parameters": [
					{
						"in": "body",
						"name": "body",
						"description": "Payload to update LoanDocuments",
						"required": true,
						"schema": { "$ref": "#\/definitions\/LoanDocuments" }
					},
					{
						"in": "path",
						"name": "id",
						"description": "ID of object in collection of LoanDocuments to update",
						"required": true,
						"type": "integer",
						"format": "int32"
					}
				],
				"tags": [ "LoanDocuments" ],
				"responses": {
					"200": {
						"description": "Update successful",
						"schema": { "$ref": "#\/definitions\/LoanDocuments" }
					},
					"500": {
						"description": "Unexpected error",
						"schema": { "$ref": "#\/definitions\/Error-OData" }
					}
				}
			},
			"delete": {
				"summary": "Delete Loan Documents",
				"description": "Delete Loan Documents.",
				"tags": [ "LoanDocuments" ],
				"parameters": [
					{
						"in": "path",
						"name": "id",
						"description": "ID to delete",
						"required": true,
						"type": "integer",
						"format": "int32"
					}
				],
				"responses": {
					"200": { "description": "Delete successful" },
					"500": {
						"description": "Unexpected error",
						"schema": { "$ref": "#\/definitions\/Error-OData" }
					}
				}
			},
			"get": {
				"summary": "Get LoanDocuments",
				"description": "Get all existing LoanDocuments",
				"tags": [ "LoanDocuments" ],
				"parameters": [
					{
						"in": "path",
						"name": "id",
						"description": "ID of object in collection of LoanDocuments to get",
						"required": true,
						"type": "integer",
						"format": "int32"
					}
				],
				"responses": {
					"200": {
						"description": "A single object from a collection of LoanDocuments",
						"schema": { "$ref": "#\/definitions\/LoanDocuments" }
					},
					"500": {
						"description": "Unexpected error",
						"schema": { "$ref": "#\/definitions\/Error-OData" }
					}
				}
			}
		},
		"\/odata.svc\/Notes": {
			"post": {
				"summary": "Add Note",
				"description": "Add a Note.<br \/>To learn more about directly accessing an entity, see <a target='_blank' href='https:\/\/help-loanpro.simnang.com\/?p=2668'>API - Direct entity access<\/a>.<br \/>To learn more about Note entities, see <a href='https:\/\/help-loanpro.simnang.com\/wp-admin\/post.php?post=2136&action=edit' target='_blank'>API - Creating notes<\/a>",
				"consumes": [ "application\/json" ],
				"produces": [ "application\/json" ],
				"parameters": [
					{
						"in": "body",
						"name": "body",
						"description": "Payload to create Notes",
						"required": true,
						"schema": { "$ref": "#\/definitions\/Notes" }
					}
				],
				"tags": [ "Notes" ],
				"responses": {
					"200": {
						"description": "Insert successful",
						"schema": { "$ref": "#\/definitions\/Notes" }
					},
					"500": {
						"description": "Unexpected error",
						"schema": { "$ref": "#\/definitions\/Error-OData" }
					}
				}
			},
			"get": {
				"summary": "Get Notes",
				"description": "Get all existing Notes",
				"tags": [ "Notes" ],
				"responses": {
					"200": {
						"description": "An array of Notes",
						"schema": {
							"type": "array",
							"items": { "$ref": "#\/definitions\/Notes" }
						}
					},
					"500": {
						"description": "Unexpected error",
						"schema": { "$ref": "#\/definitions\/Error-OData" }
					}
				}
			}
		},
		"\/odata.svc\/Notes({id})": {
			"put": {
				"summary": "Update Note",
				"description": "Update a Note.<br \/>To learn more about directly accessing an entity, see <a target='_blank' href='https:\/\/help-loanpro.simnang.com\/?p=2668'>API - Direct entity access<\/a>.<br \/>To Learn more about updating entities, see <a target='_blank' href='https:\/\/help-loanpro.simnang.com\/?p=2127'>API - Updating Entities<\/a><br \/>To learn more about Note entities, see <a href='https:\/\/help-loanpro.simnang.com\/wp-admin\/post.php?post=2136&action=edit' target='_blank'>API - Creating notes<\/a>",
				"consumes": [ "application\/json" ],
				"produces": [ "application\/json" ],
				"parameters": [
					{
						"in": "body",
						"name": "body",
						"description": "Payload to update Notes",
						"required": true,
						"schema": { "$ref": "#\/definitions\/Notes" }
					},
					{
						"in": "path",
						"name": "id",
						"description": "ID of object in collection of Notes to update",
						"required": true,
						"type": "integer",
						"format": "int32"
					}
				],
				"tags": [ "Notes" ],
				"responses": {
					"200": {
						"description": "Update successful",
						"schema": { "$ref": "#\/definitions\/Notes" }
					},
					"500": {
						"description": "Unexpected error",
						"schema": { "$ref": "#\/definitions\/Error-OData" }
					}
				}
			},
			"get": {
				"summary": "Get Notes",
				"description": "Get all existing Notes",
				"tags": [ "Notes" ],
				"parameters": [
					{
						"in": "path",
						"name": "id",
						"description": "ID of object in collection of Notes to get",
						"required": true,
						"type": "integer",
						"format": "int32"
					}
				],
				"responses": {
					"200": {
						"description": "A single object from a collection of Notes",
						"schema": { "$ref": "#\/definitions\/Notes" }
					},
					"500": {
						"description": "Unexpected error",
						"schema": { "$ref": "#\/definitions\/Error-OData" }
					}
				}
			}
		},
		"\/odata.svc\/LoanSettings": {
			"post": {
				"summary": "Add Loan Settings",
				"description": "Add loan settings.<br \/>To learn more about directly accessing an entity, see <a target='_blank' href='https:\/\/help-loanpro.simnang.com\/?p=2668'>API - Direct entity access<\/a>.<br \/>To learn more about Loan Settings, see <a target='_blank' href='https:\/\/help-loanpro.simnang.com\/?p=2111'>API - Loan Settings<\/a><br \/>To learn more about the specific LoanPro field types for loan settings, see <a target='_blank' href='https:\/\/help-loanpro.simnang.com\/?p=2113'>API - Loan Settings Collections<\/a>",
				"consumes": [ "application\/json" ],
				"produces": [ "application\/json" ],
				"parameters": [
					{
						"in": "body",
						"name": "body",
						"description": "Payload to create LoanSettings",
						"required": true,
						"schema": { "$ref": "#\/definitions\/LoanSettings" }
					}
				],
				"tags": [ "LoanSettings" ],
				"responses": {
					"200": {
						"description": "Insert successful",
						"schema": { "$ref": "#\/definitions\/LoanSettings" }
					},
					"500": {
						"description": "Unexpected error",
						"schema": { "$ref": "#\/definitions\/Error-OData" }
					}
				}
			},
			"get": {
				"summary": "Get LoanSettings",
				"description": "Get all existing LoanSettings",
				"tags": [ "LoanSettings" ],
				"responses": {
					"200": {
						"description": "An array of LoanSettings",
						"schema": {
							"type": "array",
							"items": { "$ref": "#\/definitions\/LoanSettings" }
						}
					},
					"500": {
						"description": "Unexpected error",
						"schema": { "$ref": "#\/definitions\/Error-OData" }
					}
				}
			}
		},
		"\/odata.svc\/LoanSettings({id})": {
			"delete": {
				"summary": "Delete Loan Settings",
				"description": "Delete loan settings.",
				"tags": [ "LoanSettings" ],
				"parameters": [
					{
						"in": "path",
						"name": "id",
						"description": "ID to delete",
						"required": true,
						"type": "integer",
						"format": "int32"
					}
				],
				"responses": {
					"200": { "description": "Delete successful" },
					"500": {
						"description": "Unexpected error",
						"schema": { "$ref": "#\/definitions\/Error-OData" }
					}
				}
			},
			"put": {
				"summary": "Update Loan Settings",
				"description": "Update loan settings.<br \/>To learn more about directly accessing an entity, see <a target='_blank' href='https:\/\/help-loanpro.simnang.com\/?p=2668'>API - Direct entity access<\/a>.<br \/>To Learn more about updating entities, see <a target='_blank' href='https:\/\/help-loanpro.simnang.com\/?p=2127'>API - Updating Entities<\/a><br \/>To learn more about Loan Settings, see <a target='_blank' href='https:\/\/help-loanpro.simnang.com\/?p=2111'>API - Loan Settings<\/a><br \/>To learn more about the specific LoanPro field types for loan settings, see <a target='_blank' href='https:\/\/help-loanpro.simnang.com\/?p=2113'>API - Loan Settings Collections<\/a>",
				"consumes": [ "application\/json" ],
				"produces": [ "application\/json" ],
				"parameters": [
					{
						"in": "body",
						"name": "body",
						"description": "Payload to update LoanSettings",
						"required": true,
						"schema": { "$ref": "#\/definitions\/LoanSettings" }
					},
					{
						"in": "path",
						"name": "id",
						"description": "ID of object in collection of LoanSettings to update",
						"required": true,
						"type": "integer",
						"format": "int32"
					}
				],
				"tags": [ "LoanSettings" ],
				"responses": {
					"200": {
						"description": "Update successful",
						"schema": { "$ref": "#\/definitions\/LoanSettings" }
					},
					"500": {
						"description": "Unexpected error",
						"schema": { "$ref": "#\/definitions\/Error-OData" }
					}
				}
			},
			"get": {
				"summary": "Get LoanSettings",
				"description": "Get all existing LoanSettings",
				"tags": [ "LoanSettings" ],
				"parameters": [
					{
						"in": "path",
						"name": "id",
						"description": "ID of object in collection of LoanSettings to get",
						"required": true,
						"type": "integer",
						"format": "int32"
					}
				],
				"responses": {
					"200": {
						"description": "A single object from a collection of LoanSettings",
						"schema": { "$ref": "#\/definitions\/LoanSettings" }
					},
					"500": {
						"description": "Unexpected error",
						"schema": { "$ref": "#\/definitions\/Error-OData" }
					}
				}
			}
		},
		"\/odata.svc\/LoanSetup": {
			"post": {
				"summary": "Add Loan Setup",
				"description": "Add Loan Setup.<br \/>To learn more about directly accessing an entity, see <a target='_blank' href='https:\/\/help-loanpro.simnang.com\/?p=2668'>API - Direct entity access<\/a>.<br\/>For more details, see <a target='_blank' href='https:\/\/help-loanpro.simnang.com\/?p=2076'>API-Loan Setup<\/a><br \/>For a list of possible values for the LoanPro specific field types, see <a target='_blank' href='https:\/\/help-loanpro.simnang.com\/?p=2077'>API - Loan Setup Collections<\/a>",
				"consumes": [ "application\/json" ],
				"produces": [ "application\/json" ],
				"parameters": [
					{
						"in": "body",
						"name": "body",
						"description": "Payload to create LoanSetup",
						"required": true,
						"schema": { "$ref": "#\/definitions\/LoanSetup" }
					}
				],
				"tags": [ "LoanSetup" ],
				"responses": {
					"200": {
						"description": "Insert successful",
						"schema": { "$ref": "#\/definitions\/LoanSetup" }
					},
					"500": {
						"description": "Unexpected error",
						"schema": { "$ref": "#\/definitions\/Error-OData" }
					}
				}
			},
			"get": {
				"summary": "Get LoanSetup",
				"description": "Get all existing LoanSetup",
				"tags": [ "LoanSetup" ],
				"responses": {
					"200": {
						"description": "An array of LoanSetup",
						"schema": {
							"type": "array",
							"items": { "$ref": "#\/definitions\/LoanSetup" }
						}
					},
					"500": {
						"description": "Unexpected error",
						"schema": { "$ref": "#\/definitions\/Error-OData" }
					}
				}
			}
		},
		"\/odata.svc\/LoanSetup({id})": {
			"delete": {
				"summary": "Delete Loan Setup",
				"description": "Delete Loan Setup.",
				"tags": [ "LoanSetup" ],
				"parameters": [
					{
						"in": "path",
						"name": "id",
						"description": "ID to delete",
						"required": true,
						"type": "integer",
						"format": "int32"
					}
				],
				"responses": {
					"200": { "description": "Delete successful" },
					"500": {
						"description": "Unexpected error",
						"schema": { "$ref": "#\/definitions\/Error-OData" }
					}
				}
			},
			"put": {
				"summary": "Update Loan Setup",
				"description": "Update Loan Setup.<br \/>To learn more about directly accessing an entity, see <a target='_blank' href='https:\/\/help-loanpro.simnang.com\/?p=2668'>API - Direct entity access<\/a>.<br \/>To Learn more about updating entities, see <a target='_blank' href='https:\/\/help-loanpro.simnang.com\/?p=2127'>API - Updating Entities<\/a><br\/>For more details, see <a target='_blank' href='https:\/\/help-loanpro.simnang.com\/?p=2076'>API-Loan Setup<\/a><br \/>For a list of possible values for the LoanPro specific field types, see <a  target='_blank' href='https:\/\/help-loanpro.simnang.com\/?p=2077'>API - Loan Setup Collections<\/a>",
				"consumes": [ "application\/json" ],
				"produces": [ "application\/json" ],
				"parameters": [
					{
						"in": "body",
						"name": "body",
						"description": "Payload to update LoanSetup",
						"required": true,
						"schema": { "$ref": "#\/definitions\/LoanSetup" }
					},
					{
						"in": "path",
						"name": "id",
						"description": "ID of object in collection of LoanSetup to update",
						"required": true,
						"type": "integer",
						"format": "int32"
					}
				],
				"tags": [ "LoanSetup" ],
				"responses": {
					"200": {
						"description": "Update successful",
						"schema": { "$ref": "#\/definitions\/LoanSetup" }
					},
					"500": {
						"description": "Unexpected error",
						"schema": { "$ref": "#\/definitions\/Error-OData" }
					}
				}
			},
			"get": {
				"summary": "Get LoanSetup",
				"description": "Get all existing LoanSetup",
				"tags": [ "LoanSetup" ],
				"parameters": [
					{
						"in": "path",
						"name": "id",
						"description": "ID of object in collection of LoanSetup to get",
						"required": true,
						"type": "integer",
						"format": "int32"
					}
				],
				"responses": {
					"200": {
						"description": "A single object from a collection of LoanSetup",
						"schema": { "$ref": "#\/definitions\/LoanSetup" }
					},
					"500": {
						"description": "Unexpected error",
						"schema": { "$ref": "#\/definitions\/Error-OData" }
					}
				}
			}
		},
		"\/odata.svc\/LoanTransactions": {
			"get": {
				"summary": "Get LoanTransactions",
				"description": "Get all existing LoanTransactions",
				"tags": [ "LoanTransactions" ],
				"responses": {
					"200": {
						"description": "An array of LoanTransactions",
						"schema": {
							"type": "array",
							"items": { "$ref": "#\/definitions\/LoanTransactions" }
						}
					},
					"500": {
						"description": "Unexpected error",
						"schema": { "$ref": "#\/definitions\/Error-OData" }
					}
				}
			}
		},
		"\/odata.svc\/LoanTransactions({id})": {
			"get": {
				"summary": "Get LoanTransactions",
				"description": "Get all existing LoanTransactions",
				"tags": [ "LoanTransactions" ],
				"parameters": [
					{
						"in": "path",
						"name": "id",
						"description": "ID of object in collection of LoanTransactions to get",
						"required": true,
						"type": "integer",
						"format": "int32"
					}
				],
				"responses": {
					"200": {
						"description": "A single object from a collection of LoanTransactions",
						"schema": { "$ref": "#\/definitions\/LoanTransactions" }
					},
					"500": {
						"description": "Unexpected error",
						"schema": { "$ref": "#\/definitions\/Error-OData" }
					}
				}
			}
		},
		"\/odata.svc\/Promises": {
			"post": {
				"summary": "Add Promise",
				"description": "Add Promise.<br \/>To learn more about directly accessing an entity, see <a target='_blank' href='https:\/\/help-loanpro.simnang.com\/?p=2668'>API - Direct entity access<\/a>.<br \/>To learn more about promises, see <a target='_blank' href='https:\/\/help-loanpro.simnang.com\/?p=2145'>API - Promises<\/a><br \/>To learn more about LoanPro specific field types, see <a target='_blank' href='https:\/\/help-loanpro.simnang.com\/?p=2146'>API - Promise Collection<\/a>",
				"consumes": [ "application\/json" ],
				"produces": [ "application\/json" ],
				"parameters": [
					{
						"in": "body",
						"name": "body",
						"description": "Payload to create Promises",
						"required": true,
						"schema": { "$ref": "#\/definitions\/Promises" }
					}
				],
				"tags": [ "Promises" ],
				"responses": {
					"200": {
						"description": "Insert successful",
						"schema": { "$ref": "#\/definitions\/Promises" }
					},
					"500": {
						"description": "Unexpected error",
						"schema": { "$ref": "#\/definitions\/Error-OData" }
					}
				}
			},
			"get": {
				"summary": "Get Promises",
				"description": "Get all existing Promises",
				"tags": [ "Promises" ],
				"responses": {
					"200": {
						"description": "An array of Promises",
						"schema": {
							"type": "array",
							"items": { "$ref": "#\/definitions\/Promises" }
						}
					},
					"500": {
						"description": "Unexpected error",
						"schema": { "$ref": "#\/definitions\/Error-OData" }
					}
				}
			}
		},
		"\/odata.svc\/Promises({id})": {
			"put": {
				"summary": "Update Promise",
				"description": "Update Promise.<br \/>To learn more about directly accessing an entity, see <a target='_blank' href='https:\/\/help-loanpro.simnang.com\/?p=2668'>API - Direct entity access<\/a>.<br \/>To Learn more about updating entities, see <a target='_blank' href='https:\/\/help-loanpro.simnang.com\/?p=2127'>API - Updating Entities<\/a>.<br \/>To learn more about promises, see <a target='_blank' href='https:\/\/help-loanpro.simnang.com\/?p=2145'>API - Promises<\/a><br \/>To learn more about LoanPro specific field types, see <a target='_blank' href='https:\/\/help-loanpro.simnang.com\/?p=2146'>API - Promise Collection<\/a>",
				"consumes": [ "application\/json" ],
				"produces": [ "application\/json" ],
				"parameters": [
					{
						"in": "body",
						"name": "body",
						"description": "Payload to update Promises",
						"required": true,
						"schema": { "$ref": "#\/definitions\/Promises" }
					},
					{
						"in": "path",
						"name": "id",
						"description": "ID of object in collection of Promises to update",
						"required": true,
						"type": "integer",
						"format": "int32"
					}
				],
				"tags": [ "Promises" ],
				"responses": {
					"200": {
						"description": "Update successful",
						"schema": { "$ref": "#\/definitions\/Promises" }
					},
					"500": {
						"description": "Unexpected error",
						"schema": { "$ref": "#\/definitions\/Error-OData" }
					}
				}
			},
			"get": {
				"summary": "Get Promises",
				"description": "Get all existing Promises",
				"tags": [ "Promises" ],
				"parameters": [
					{
						"in": "path",
						"name": "id",
						"description": "ID of object in collection of Promises to get",
						"required": true,
						"type": "integer",
						"format": "int32"
					}
				],
				"responses": {
					"200": {
						"description": "A single object from a collection of Promises",
						"schema": { "$ref": "#\/definitions\/Promises" }
					},
					"500": {
						"description": "Unexpected error",
						"schema": { "$ref": "#\/definitions\/Error-OData" }
					}
				}
			}
		},
		"\/odata.svc\/CollateralFields": {
			"get": {
				"summary": "Get CollateralFields",
				"description": "Get all existing CollateralFields",
				"tags": [ "CollateralFields" ],
				"responses": {
					"200": {
						"description": "An array of CollateralFields",
						"schema": {
							"type": "array",
							"items": { "$ref": "#\/definitions\/Error-OData" }
						}
					},
					"500": {
						"description": "Unexpected error",
						"schema": { "$ref": "#\/definitions\/Error-OData" }
					}
				}
			}
		},
		"\/odata.svc\/CollateralFields({id})": {
			"put": {
				"summary": "Update Checklist",
				"description": "Updates a Collateral Filed.",
				"consumes": [ "application\/json" ],
				"produces": [ "application\/json" ],
				"parameters": [
					{
						"in": "body",
						"name": "body",
						"description": "Payload to update CollateralFields",
						"required": true,
						"schema": { "$ref": "#\/definitions\/Error-OData" }
					},
					{
						"in": "path",
						"name": "id",
						"description": "ID of object in collection of CollateralFields to update",
						"required": true,
						"type": "integer",
						"format": "int32"
					}
				],
				"tags": [ "CollateralFields" ],
				"responses": {
					"200": {
						"description": "Update successful",
						"schema": { "$ref": "#\/definitions\/Error-OData" }
					},
					"500": {
						"description": "Unexpected error",
						"schema": { "$ref": "#\/definitions\/Error-OData" }
					}
				}
			},
			"get": {
				"summary": "Get CollateralFields",
				"description": "Get all existing CollateralFields",
				"tags": [ "CollateralFields" ],
				"parameters": [
					{
						"in": "path",
						"name": "id",
						"description": "ID of object in collection of CollateralFields to get",
						"required": true,
						"type": "integer",
						"format": "int32"
					}
				],
				"responses": {
					"200": {
						"description": "A single object from a collection of CollateralFields",
						"schema": { "$ref": "#\/definitions\/Error-OData" }
					},
					"500": {
						"description": "Unexpected error",
						"schema": { "$ref": "#\/definitions\/Error-OData" }
					}
				}
			}
		}
	},
	"definitions": {
		"Error-OData": { "properties": { "error": { "type": "string" } } },
		"Users": {
			"required": [ "gender" ],
			"properties": {
				"id": {
					"type": "integer",
					"readOnly": true,
					"x-isKey": true,
					"x-mapField": "id",
					"format": "int32"
				},
				"firstName": {
					"type": "string",
					"description": "First name of the user",
					"example": "Bob",
					"x-mapField": "first_name"
				},
				"lastName": {
					"type": "string",
					"description": "Last name of the user",
					"example": "Fisher",
					"x-mapField": "last_name"
				},
				"userName": {
					"type": "string",
					"description": "Username\/E-mail of the user",
					"example": "bobFisher12423@example.com",
					"x-mapField": "email\t"
				},
				"recoveryEmail": {
					"type": "string",
					"description": "Email used for contact and password recovery",
					"example": "bobFisher12423@example.com",
					"x-mapField": "recovery_email"
				},
				"loanProPosition": {
					"type": "string",
					"description": "Position in regards to Loanpro",
					"example": "Owner\/Principal (decision maker)",
					"x-mapField": "loanpro_position"
				},
				"phone": {
					"type": "string",
					"description": "Phone number of the user",
					"example": "8005551234",
					"x-mapField": "phone"
				},
				"jobTitle": {
					"type": "string",
					"description": "Job Title of the user",
					"example": "Tech Support Agent",
					"x-mapField": "job_title"
				},
				"active": {
					"type": "integer",
					"description": "If the user is active (1:Yes 0:No)",
					"example": "1",
					"x-mapField": "active",
					"format": "int32"
				},
				"gender": {
					"type": "string",
					"description": "Gender of the user",
					"example": "user.gender.male",
					"enum": [ "user.gender.female", "user.gender.male" ],
					"x-see": true
				},
				"roleId": {
					"type": "integer",
					"readOnly": true,
					"x-mapField": "role_id",
					"format": "int32"
				},
				"tenantRole": {
					"type": "string",
					"readOnly": true,
					"description": "Tenant Role of the User",
					"example": "2"
				},
				"customTenantRole": {
					"type": "string",
					"readOnly": true,
					"description": "Custom role inside the tenant (if one is set)",
					"example": "2"
				},
				"tenantAccessActive": {
					"type": "integer",
					"readOnly": true,
					"description": "Tennant Access Active (Read Only)",
					"example": "1",
					"format": "int32"
				},
				"validated": {
					"type": "integer",
					"description": "Whether or not the email has been validated. (1:Yes 0:No)",
					"readOnly": true,
					"x-mapField": "validated",
					"format": "int32"
				},
				"hash": {
					"type": "string",
					"description": "Email verification code",
					"readOnly": true,
					"x-mapField": "hash"
				},
				"lastContractSigned": {
					"type": "boolean",
					"description": "In tenant context will tell whether the user has signed the last contract version",
					"readOnly": true
				},
				"isEnrolledInMFA": {
					"type": "integer",
					"x-mapField": "isEnrolledInMFA",
					"format": "int32"
				},
				"Notifications": {
					"$ref": "#\/definitions\/Notifications",
					"x-not-in-post": false
				},
				"UserDeliveries": {
					"$ref": "#\/definitions\/UserDeliveries",
					"x-not-in-post": false
				},
				"UserTenantConfigurations": {
					"$ref": "#\/definitions\/UserTenantConfigurations",
					"x-not-in-post": false
				},
				"restrictionGroups": {
					"$ref": "#\/definitions\/restrictionGroups",
					"x-not-in-post": false
				},
				"tenantRoleSettings": {
					"$ref": "#\/definitions\/tenantRoleSettings",
					"x-not-in-post": false
				}
			}
		},
		"Loans": {
			"properties": {
				"id": {
					"type": "integer",
					"x-not-in-post": true,
					"readOnly": true,
					"x-isKey": true,
					"x-mapField": "id",
					"format": "int32"
				},
				"displayId": {
					"type": "string",
					"description": "Loan Display ID",
					"example": "L00100",
					"x-not-in-post": true,
					"x-mapField": "display_id"
				},
				"title": {
					"type": "string",
					"description": "The loan title. It is displayed in the loan manager.",
					"example": "My First Loan",
					"x-not-in-post": true,
					"x-mapField": "title"
				},
				"settingsId": {
					"type": "integer",
					"description": "ID for Loan Settings. (Read Only)",
					"readOnly": true,
					"x-not-in-post": true,
					"x-mapField": "settings_id",
					"format": "int32"
				},
				"setupId": {
					"type": "integer",
					"description": "ID for Loan Setup. (Read Only)",
					"readOnly": true,
					"x-not-in-post": true,
					"x-mapField": "setup_id",
					"format": "int32"
				},
				"insurancePolicyId": {
					"type": "string",
					"description": "ID for Insurance Policy (Read Only)",
					"readOnly": true,
					"example": "1",
					"x-not-in-post": true,
					"x-mapField": "insurance_policy_id"
				},
				"collateralId": {
					"type": "integer",
					"description": "ID for Collateral (Read Only)",
					"readOnly": true,
					"x-not-in-post": true,
					"x-mapField": "collateral_id",
					"format": "int32"
				},
				"linkedLoan": {
					"type": "integer",
					"description": "The linked loan ID",
					"x-not-in-post": true,
					"x-mapField": "linked_loan",
					"format": "int32"
				},
				"modId": {
					"type": "integer",
					"description": "ID of the modification for the loan",
					"x-not-in-post": true,
					"x-mapField": "mod_id",
					"format": "int32"
				},
				"modTotal": {
					"type": "integer",
					"description": "Number of modifications performed on the loan.",
					"x-not-in-post": true,
					"x-mapField": "mod_total",
					"format": "int32"
				},
				"humanActivityDate": {
					"type": "string",
					"description": "The most recent date of where a human interacted with the Loan.",
					"example": "2012-02-29",
					"x-not-in-post": true,
					"x-mapField": "human_activity_date",
					"format": "date-time"
				},
				"created": {
					"type": "string",
					"readOnly": true,
					"description": "Loan Creation Date-Time (Read Only)",
					"x-not-in-post": true,
					"x-mapField": "created",
					"format": "date-time"
				},
				"lastMaintRun": {
					"type": "string",
					"readOnly": true,
					"description": "Loan Last Maintenance Date (Read Only)",
					"x-not-in-post": true,
					"x-mapField": "last_maint_run",
					"format": "date-time"
				},
				"createdBy": {
					"type": "integer",
					"readOnly": true,
					"description": "Loan User Creation ID",
					"x-not-in-post": true,
					"x-mapField": "created_by",
					"format": "int32"
				},
				"active": {
					"type": "integer",
					"description": "The active status of the loan (1: active 0: inactive).",
					"x-not-in-post": true,
					"x-mapField": "active",
					"format": "int32"
				},
				"archived": {
					"type": "integer",
					"description": "Archive status of the loan",
					"x-not-in-post": true,
					"x-mapField": "archived",
					"format": "int32"
				},
				"loanAlert": {
					"type": "string",
					"description": "The alert for the loan",
					"example": "This is an alert!",
					"x-not-in-post": true,
					"x-mapField": "loan_alert"
				},
				"temporaryAccount": {
					"type": "integer",
					"readOnly": true,
					"description": "Whether or not it is a temporary account (Read Only)",
					"x-not-in-post": true,
					"x-mapField": "temporary_account",
					"format": "int32"
				},
				"deleted": {
					"type": "integer",
					"readOnly": true,
					"description": "Whether or not the loan has been deleted. (Read Only)",
					"x-not-in-post": true,
					"format": "int32"
				},
				"deletedAt": {
					"type": "string",
					"readOnly": true,
					"description": "Deletion date time (if applicable)",
					"x-not-in-post": true,
					"x-mapField": "deleted_at",
					"format": "date-time"
				},
				"Insurance": {
					"$ref": "#\/definitions\/Insurance",
					"x-not-in-post": true
				},
				"CustomFieldValues": {
					"$ref": "#\/definitions\/CustomFieldValues",
					"x-not-in-post": true
				},
				"ChecklistItemValues": {
					"$ref": "#\/definitions\/ChecklistItemValues",
					"x-not-in-post": true
				},
				"LoanDocuments": {
					"$ref": "#\/definitions\/LoanDocuments",
					"x-not-in-post": true
				},
				"Collateral": {
					"$ref": "#\/definitions\/Collateral",
					"x-not-in-post": true
				},
				"LoanSettings": {
					"$ref": "#\/definitions\/LoanSettings",
					"x-not-in-post": false
				},
				"LoanSetup": {
					"$ref": "#\/definitions\/LoanSetup",
					"x-not-in-post": false
				},
				"Notes": {
					"$ref": "#\/definitions\/Notes",
					"x-not-in-post": true
				},
				"Promises": {
					"$ref": "#\/definitions\/Promises",
					"x-not-in-post": true
				},
				"Bankruptcies": {
					"$ref": "#\/definitions\/Bankruptcies",
					"x-not-in-post": true
				},
				"Charges": {
					"$ref": "#\/definitions\/Charges",
					"x-not-in-post": true
				},
				"Payments": {
					"$ref": "#\/definitions\/Payments",
					"x-not-in-post": true
				},
				"LoanFunding": {
					"$ref": "#\/definitions\/LoanFunding",
					"x-not-in-post": true
				},
				"LoanAdvancements": {
					"$ref": "#\/definitions\/LoanAdvancements",
					"x-not-in-post": true
				},
				"LoanCredits": {
					"$ref": "#\/definitions\/LoanCredits",
					"x-not-in-post": true
				},
				"LoanDueDateChanges": {
					"$ref": "#\/definitions\/LoanDueDateChanges",
					"x-not-in-post": true
				},
				"LoanCurtailmentDates": {
					"$ref": "#\/definitions\/LoanCurtailmentDates",
					"x-not-in-post": true
				},
				"LoanStatusArchive": {
					"$ref": "#\/definitions\/LoanStatusArchive",
					"x-not-in-post": true
				},
				"LoanTransactions": {
					"$ref": "#\/definitions\/LoanTransactions",
					"x-not-in-post": true
				},
				"EscrowCalculatedTx": {
					"$ref": "#\/definitions\/EscrowCalculatedTx",
					"x-not-in-post": true
				},
				"ScheduleRolls": {
					"$ref": "#\/definitions\/ScheduleRolls",
					"x-not-in-post": true
				},
				"StopInterestDates": {
					"$ref": "#\/definitions\/StopInterestDates",
					"x-not-in-post": true
				},
				"APDAdjustments": {
					"$ref": "#\/definitions\/APDAdjustments",
					"x-not-in-post": true
				},
				"DPDAdjustments": {
					"$ref": "#\/definitions\/DPDAdjustments",
					"x-not-in-post": true
				},
				"LoanModifications": {
					"$ref": "#\/definitions\/LoanModifications",
					"x-not-in-post": true
				},
				"EscrowAdjustments": {
					"$ref": "#\/definitions\/EscrowAdjustments",
					"x-not-in-post": true
				},
				"EscrowTransactions": {
					"$ref": "#\/definitions\/EscrowTransactions",
					"x-not-in-post": true
				},
				"EscrowSubsetOptions": {
					"$ref": "#\/definitions\/EscrowSubsetOptions",
					"x-not-in-post": true
				},
				"EscrowCalculators": {
					"$ref": "#\/definitions\/EscrowCalculators",
					"x-not-in-post": true
				},
				"Disbursements": {
					"$ref": "#\/definitions\/Disbursements",
					"x-not-in-post": false
				},
				"Loans": {
					"$ref": "#\/definitions\/Loans",
					"x-not-in-post": true
				},
				"LinkedLoanValues": {
					"$ref": "#\/definitions\/LinkedLoanValues",
					"x-not-in-post": true
				},
				"LoanChilds": {
					"$ref": "#\/definitions\/LoanChilds",
					"x-not-in-post": true
				},
				"RecurrentCharges": {
					"$ref": "#\/definitions\/RecurrentCharges",
					"x-not-in-post": true
				},
				"PayNearMeOrders": {
					"$ref": "#\/definitions\/PayNearMeOrders",
					"x-not-in-post": true
				},
				"Customers": {
					"$ref": "#\/definitions\/Customers",
					"x-not-in-post": true
				},
				"Portfolios": {
					"$ref": "#\/definitions\/Portfolios",
					"x-not-in-post": true
				},
				"SubPortfolios": {
					"$ref": "#\/definitions\/SubPortfolios",
					"x-not-in-post": true
				},
				"EscrowSubsets": {
					"$ref": "#\/definitions\/EscrowSubsets",
					"x-not-in-post": true
				},
				"RuleAppliedLoanSettings": {
					"$ref": "#\/definitions\/RuleAppliedLoanSettings",
					"x-not-in-post": true
				},
				"RuleAppliedChargeOff": {
					"$ref": "#\/definitions\/RuleAppliedChargeOff",
					"x-not-in-post": true
				},
				"RuleAppliedAPDReset": {
					"$ref": "#\/definitions\/RuleAppliedAPDReset",
					"x-not-in-post": true
				},
				"RuleAppliedChecklists": {
					"$ref": "#\/definitions\/RuleAppliedChecklists",
					"x-not-in-post": true
				},
				"RuleAppliedChangeDueDates": {
					"$ref": "#\/definitions\/RuleAppliedChangeDueDates",
					"x-not-in-post": true
				},
				"RuleAppliedStopInterest": {
					"$ref": "#\/definitions\/RuleAppliedStopInterest",
					"x-not-in-post": true
				},
				"RuleAppliedAccountTools": {
					"$ref": "#\/definitions\/RuleAppliedAccountTools",
					"x-not-in-post": true
				},
				"RuleAppliedCustomerTools": {
					"$ref": "#\/definitions\/RuleAppliedCustomerTools",
					"x-not-in-post": true
				},
				"RuleAppliedAutopays": {
					"$ref": "#\/definitions\/RuleAppliedAutopays",
					"x-not-in-post": true
				},
				"RuleAppliedLoanSetup": {
					"$ref": "#\/definitions\/RuleAppliedLoanSetup",
					"x-not-in-post": true
				},
				"RuleAppliedBankruptcy": {
					"$ref": "#\/definitions\/RuleAppliedBankruptcy",
					"x-not-in-post": true
				},
				"Autopays": {
					"$ref": "#\/definitions\/Autopays",
					"x-not-in-post": true
				},
				"ActionResultNotes": {
					"$ref": "#\/definitions\/ActionResultNotes",
					"x-not-in-post": false
				}
			}
		},
		"Insurance": {
			"properties": {
				"id": {
					"type": "integer",
					"readOnly": true,
					"x-isKey": true,
					"format": "int32"
				},
				"companyName": {
					"type": "string",
					"description": "Name of the Insurance Company",
					"example": "Allstate",
					"x-mapField": "company_name"
				},
				"insured": {
					"type": "string",
					"description": "Name of the person insured",
					"example": "John Doe"
				},
				"agentName": {
					"type": "string",
					"description": "Name of the insurance agent",
					"example": "Mr. Jones",
					"x-mapField": "agent_name"
				},
				"policyNumber": {
					"type": "string",
					"description": "Insurance Policy Number",
					"example": "AKS-90003-01",
					"x-mapField": "policy_number"
				},
				"phone": {
					"type": "string",
					"description": "Phone number for Insurance Company.",
					"example": "8005552131"
				},
				"deductible": {
					"type": "string",
					"description": "Deductible amount for the policy.",
					"example": "500.00"
				},
				"startDate": {
					"type": "string",
					"description": "Start Date for the policy as a Unix timestamp.",
					"example": "\/Date(1427829732)\/",
					"x-mapField": "start_date",
					"format": "date-time"
				},
				"endDate": {
					"type": "string",
					"description": "End Date for the policy as a Unix timestamp.",
					"example": "\/Date(1427829732)\/",
					"x-mapField": "end_date",
					"format": "date-time"
				},
				"Loans": {
					"$ref": "#\/definitions\/Loans",
					"x-not-in-post": false
				},
				"Investments": {
					"$ref": "#\/definitions\/Investments",
					"x-not-in-post": false
				},
				"CustomFieldValues": {
					"$ref": "#\/definitions\/CustomFieldValues",
					"x-not-in-post": false
				}
			}
		},
		"CustomFields": {
			"properties": {
				"id": {
					"type": "integer",
					"readOnly": true,
					"x-isKey": true,
					"format": "int32"
				},
				"name": {
					"type": "string",
					"description": "Name of the Custom Field",
					"example": "Cust Field 1"
				},
				"description": {
					"type": "string",
					"description": "Description of the Custom Field",
					"example": "Description 1"
				},
				"type": {
					"type": "string",
					"description": "Type of the Custom Field; formatted \"customfield.type.\" followed by the type",
					"example": "customfield.type.currency"
				},
				"autoCalculate": {
					"type": "string",
					"description": "Auto-calculation amount application; formatted \"customfield.autoCalculate.\" followed by the field to add to",
					"example": "customfield.autoCalculate.totalLoanAmount",
					"x-mapField": "auto_calculate"
				},
				"autoCalculateOperationType": {
					"type": "string",
					"description": "Auto-calculation operation type; formatted \"customfield.autoCalculatOpType.\" followed by the operation",
					"example": "customfield.autoCalculateOpType.addition",
					"x-mapField": "auto_calculate_operation_type"
				},
				"creditReportEnabled": {
					"type": "integer",
					"description": "Is it included in the credit reporting? (1:Yes 0:No)",
					"x-mapField": "credit_report_enabled",
					"format": "int16"
				},
				"required": {
					"type": "integer",
					"description": "Is it required? (1:Yes 0:No)",
					"format": "int16"
				},
				"active": {
					"type": "integer",
					"description": "Is it active? (1:Yes 0:No)",
					"format": "int16"
				},
				"searchable": {
					"type": "integer",
					"description": "Is it Searchable? (1:Yes 0:No)",
					"format": "int16"
				},
				"reportEnabled": {
					"type": "integer",
					"description": "Is it in the Reports? (1:Yes 0:No)",
					"x-mapField": "report_enabled",
					"format": "int16"
				},
				"archiveEnable": {
					"type": "integer",
					"description": "Is it in the Loan Archive? (1:Yes 0:No)",
					"x-mapField": "archive_enable",
					"format": "int16"
				},
				"summaryEnabled": {
					"type": "integer",
					"description": "Is it in the Summary? (1:Yes 0:No)",
					"x-mapField": "summary_enabled",
					"format": "int16"
				},
				"maxLength": {
					"type": "integer",
					"description": "Maximum Length (0 [zero] means no maximum)",
					"example": "60",
					"x-mapField": "max_length",
					"format": "int16"
				},
				"defaultValue": {
					"type": "string",
					"description": "Default value",
					"example": "default",
					"x-mapField": "default_value"
				},
				"entityType": {
					"type": "string",
					"description": "The entity type that the custom field belongs to",
					"example": "Entity.LoanSetup",
					"x-mapField": "entity_type"
				},
				"sectionIdentifier": {
					"type": "string",
					"description": "Section of the entity to identify with (can be null)",
					"example": "Entity.Collateral.Other",
					"x-mapField": "section_identifier"
				},
				"displayOrder": {
					"type": "integer",
					"description": "Display order",
					"example": "2",
					"x-mapField": "display_order",
					"format": "int16"
				},
				"selectOptions": {
					"type": "string",
					"description": "Selection options if it is a customfield.type.select\"",
					"example": "[{\"id\":\"1\",\"label\":\"1\"},{\"id\":\"2\",\"label\":\"2\"},{\"id\":\"3\",\"label\":\"3\"}]",
					"x-mapField": "select_options"
				}
			}
		},
		"Portfolios": {
			"properties": {
				"id": {
					"type": "integer",
					"readOnly": true,
					"x-isKey": true,
					"x-mapField": "id",
					"format": "int32"
				},
				"title": {
					"type": "string",
					"description": "Title of the portfolio",
					"example": "Portfolio1",
					"x-mapField": "title"
				},
				"numPrefix": {
					"type": "string",
					"description": "The number prefix for the portfolio.",
					"example": "0",
					"x-mapField": "num_prefix"
				},
				"numSuffix": {
					"type": "string",
					"description": "The number suffix for the portfolio.",
					"example": "1",
					"x-mapField": "num_suffix"
				},
				"categoryId": {
					"type": "integer",
					"description": "The category id for the portfolio",
					"example": "4",
					"x-mapField": "category_id",
					"format": "int32"
				},
				"entityType": {
					"type": "string",
					"readOnly": true,
					"x-mapField": "entity_type"
				},
				"created": {
					"type": "string",
					"readOnly": true,
					"description": "The creation date of the portfolio as a Unix timestamp",
					"example": "\/Date(145785135498)\/",
					"x-mapField": "created",
					"format": "date-time"
				},
				"active": {
					"type": "integer",
					"description": "If the portfolio is active (1:Yes 0:No)",
					"example": "1",
					"x-mapField": "active",
					"format": "int32"
				},
				"SubPortfolios": {
					"$ref": "#\/definitions\/SubPortfolios",
					"x-not-in-post": false
				}
			}
		},
		"SubPortfolios": {
			"properties": {
				"id": {
					"type": "integer",
					"readOnly": true,
					"x-isKey": true,
					"x-mapField": "id",
					"format": "int32"
				},
				"title": {
					"type": "string",
					"description": "Title of the Sub-Portfolio",
					"example": "Sub-Portfolio 1",
					"x-mapField": "title"
				},
				"parent": {
					"type": "integer",
					"description": "ID of the parent portfolio",
					"example": 1,
					"x-mapField": "parent",
					"format": "int32"
				},
				"created": {
					"type": "string",
					"readOnly": true,
					"description": "Unix timestamp of creation (Read Only)",
					"example": "\/Date(1485221468)\/",
					"x-mapField": "created",
					"format": "date-time"
				},
				"active": {
					"type": "integer",
					"description": "If it is active (1:Yes 0:No)",
					"example": "1",
					"x-mapField": "active",
					"format": "int32"
				}
			}
		},
		"LoanStatus": {
			"properties": {
				"id": {
					"type": "integer",
					"readOnly": true,
					"x-isKey": true,
					"x-mapField": "id",
					"format": "int32"
				},
				"title": {
					"type": "string",
					"description": "Title for the Loan Status",
					"example": "Title",
					"x-mapField": "title"
				},
				"active": {
					"type": "integer",
					"description": "If it is active (1:Yes 0:No)",
					"example": "1",
					"x-mapField": "active",
					"format": "int32"
				},
				"LoanSubStatus": {
					"$ref": "#\/definitions\/LoanSubStatus",
					"x-not-in-post": false
				}
			}
		},
		"LoanSubStatus": {
			"properties": {
				"id": {
					"type": "integer",
					"readOnly": true,
					"x-isKey": true,
					"x-mapField": "id",
					"format": "int32"
				},
				"title": {
					"type": "string",
					"description": "Title for the sub-status",
					"example": "Title",
					"x-mapField": "title"
				},
				"parent": {
					"type": "integer",
					"description": "ID of the parent status",
					"example": "1",
					"x-mapField": "parent",
					"format": "int32"
				},
				"lateFees": {
					"type": "integer",
					"description": "Controls whether or not loans with this sub-status are chareged late fees (1:Yes 0:No)",
					"example": "0",
					"x-mapField": "late_fees",
					"format": "int32"
				},
				"emailEnroll": {
					"type": "integer",
					"description": "Controls whether or not loans with this sub-status are enrolled for email udpates (1:Yes 0:No)",
					"example": "1",
					"x-mapField": "email_enroll",
					"format": "int32"
				},
				"webAccess": {
					"type": "integer",
					"description": "Controls whether or not loans with this sub-status have web-access (1:Yes 0:No)",
					"example": "0",
					"x-mapField": "web_access",
					"format": "int32"
				},
				"smsEnroll": {
					"type": "integer",
					"description": "Controls whether or not loans with this sub-status are enrolled for sms udpates (1:Yes 0:No)",
					"example": "1",
					"x-mapField": "sms_enroll",
					"format": "int32"
				},
				"displayOrder": {
					"type": "integer",
					"description": "The order that the sub-status appears in in the UI",
					"example": "3",
					"x-mapField": "display_order",
					"format": "int32"
				},
				"active": {
					"type": "integer",
					"description": "If it is active (1:Yes 0:No)",
					"example": "1",
					"x-mapField": "active",
					"format": "int32"
				},
				"rule": {
					"type": "string",
					"description": "Rule for the sub-status",
					"example": "(= 1 1)",
					"x-mapField": "rule"
				}
			}
		},
		"Address": {
			"required": [ "address1", "city", "state", "zipcode", "country", "active" ],
			"properties": {
				"id": {
					"type": "integer",
					"readOnly": true,
					"x-isKey": true,
					"x-mapField": "id",
					"format": "int32"
				},
				"address1": {
					"type": "string",
					"description": "First address Line",
					"example": "123 Oak Lane",
					"x-mapField": "address1"
				},
				"address2": {
					"type": "string",
					"description": "Second address Line",
					"example": "Apt #1",
					"x-mapField": "address2"
				},
				"city": {
					"type": "string",
					"description": "City",
					"example": "San Diego",
					"x-mapField": "city"
				},
				"state": {
					"type": "string",
					"description": "State or Province; formated with 'geo.state.' followed by the two digit abbreviation",
					"example": "geo.state.CA",
					"x-mapField": "state"
				},
				"zipcode": {
					"type": "string",
					"description": "Zip Code",
					"example": "12345",
					"x-mapField": "zipcode"
				},
				"country": {
					"type": "string",
					"description": "Country; formated with 'company.country.' followed by the three digit abbreviation ",
					"example": "company.country.usa",
					"x-mapField": "country",
					"enum": [ "company.country.can", "company.country.usa" ],
					"x-see": true
				},
				"geoLat": {
					"type": "number",
					"description": "Latitude of address",
					"example": "101.251",
					"x-mapField": "geo_lat",
					"format": "float"
				},
				"geoLon": {
					"type": "number",
					"description": "Longitude of address",
					"example": "101.251",
					"x-mapField": "geo_lon",
					"format": "float"
				},
				"created": {
					"type": "string",
					"readOnly": true,
					"description": "When the address was created as a Unix-timestamp. (Read Only)",
					"example": "\/Date(1427464958)\/",
					"x-mapField": "created",
					"format": "date-time"
				},
				"active": {
					"type": "integer",
					"description": "The active status of the address (1: active 0: inactive).",
					"x-mapField": "active",
					"format": "int32"
				},
				"isVerified": {
					"type": "integer",
					"readOnly": true,
					"description": "The verification state of the address. (Read Only) (1:verified 0:not verified)",
					"x-mapField": "is_verified",
					"format": "int32"
				},
				"isStandardized": {
					"type": "integer",
					"readOnly": true,
					"description": "The standardization state of the address. (Read Only) (1:standardized 0:not standardized)",
					"x-mapField": "is_standardized",
					"format": "int32"
				}
			}
		},
		"BankAccount": {
			"required": [ "active" ],
			"properties": {
				"id": {
					"type": "integer",
					"readOnly": true,
					"x-isKey": true,
					"x-mapField": "id",
					"format": "int32"
				},
				"accountNumber": {
					"type": "string",
					"description": "Bank account number.",
					"example": "123456789",
					"x-mapField": "account_number"
				},
				"routingNumber": {
					"type": "string",
					"description": "Bank routing number, should be 10 digits.",
					"example": "1234567890",
					"x-mapField": "routing_number"
				},
				"bankName": {
					"type": "string",
					"description": "Bank name.",
					"example": "Bank Name",
					"x-mapField": "bank_name"
				},
				"accountType": {
					"type": "string",
					"description": "Bank Account type (Savings or Checkings); formatted by \"bankacct.type.\" folowed by the account type.",
					"example": "bankacct.type.checking",
					"x-mapField": "account_type",
					"enum": [ "bankacct.type.checking", "bankacct.type.savings" ],
					"x-see": true
				},
				"addressId": {
					"type": "integer",
					"description": "ID of the Address object to use for billing and processing",
					"example": "6",
					"x-mapField": "address_id",
					"format": "int32"
				},
				"checkType": {
					"type": "string",
					"description": "The type of check; formatted \"bankacct.checktype.\" followed by the check type",
					"example": "bankacct.checktype.personal",
					"x-mapField": "check_type",
					"enum": [ "bankacct.checktype.business", "bankacct.checktype.personal" ],
					"x-see": true
				},
				"cardHolderName": {
					"type": "string",
					"description": "Name on the card",
					"example": "John Doe",
					"x-mapField": "card_holder_name"
				},
				"cardNumber": {
					"type": "string",
					"description": "The card number",
					"example": "XXXXXXXXXXXX5464",
					"x-mapField": "card_number"
				},
				"cardExpiration": {
					"type": "string",
					"description": "The card expiration date",
					"example": "8\/16",
					"x-mapField": "card_expiration"
				},
				"cardType": {
					"type": "string",
					"description": "The card type, values are creditCard.type.visa, creditCard.type.masterCard, creditCard.type.amex, creditCard.type.discover",
					"example": "creditCard.type.visa",
					"x-mapField": "card_type",
					"enum": [ "creditCard.type.amex", "creditCard.type.discover", "creditCard.type.masterCard", "creditCard.type.visa" ],
					"x-see": true
				},
				"created": {
					"type": "string",
					"readOnly": true,
					"description": "The date the bank account was created. (Read Only)",
					"x-mapField": "created",
					"format": "date-time"
				},
				"active": {
					"type": "integer",
					"description": "The active status of the bank account (1: active 0: inactive).",
					"x-mapField": "active",
					"format": "int32"
				},
				"verify": {
					"type": "integer",
					"description": "Should the system automatically verify the payment method (1: verify 0: dont't verify).",
					"format": "int32"
				},
				"isOneTimeOnly": {
					"type": "integer",
					"format": "int32"
				},
				"Address": {
					"$ref": "#\/definitions\/Error-OData",
					"x-not-in-post": false
				}
			}
		},
		"SourceCompanies": {
			"required": [ "companyName", "contactName", "active" ],
			"properties": {
				"id": {
					"type": "integer",
					"readOnly": true,
					"x-isKey": true,
					"x-mapField": "id",
					"format": "int32"
				},
				"companyName": {
					"type": "string",
					"description": "Source Company name",
					"example": "Company 1",
					"x-mapField": "company_name"
				},
				"contactName": {
					"type": "string",
					"description": "Name of the company contact",
					"example": "Bob",
					"x-mapField": "contact_name"
				},
				"contactPhone": {
					"type": "string",
					"description": "Phone number to contact the company",
					"example": "8005556234",
					"x-mapField": "contact_phone"
				},
				"contactEmail": {
					"type": "string",
					"description": "Email to contact the company",
					"example": "comapny1@example.com",
					"x-mapField": "contact_email"
				},
				"numPrefix": {
					"type": "string",
					"description": "Number prefix",
					"example": null,
					"x-mapField": "num_prefix"
				},
				"numSuffix": {
					"type": "string",
					"description": "Number suffix",
					"example": null,
					"x-mapField": "num_suffix"
				},
				"addressId": {
					"type": "integer",
					"readOnly": true,
					"description": "ID of the associated address",
					"example": 3,
					"x-mapField": "address_id",
					"format": "int32"
				},
				"checkingAccountId": {
					"type": "integer",
					"description": "ID of the associated bank account",
					"example": 6,
					"x-mapField": "checking_account_id",
					"format": "int32"
				},
				"mcId": {
					"type": "integer",
					"description": "Id of the PCI-Wallet",
					"x-not-in-post": true,
					"x-mapField": "mc_id",
					"format": "int32"
				},
				"created": {
					"type": "string",
					"readOnly": true,
					"description": "Unix timestamp of creation date (Read Only)",
					"example": "\/Date(1420612812).",
					"x-mapField": "created",
					"format": "date-time"
				},
				"active": {
					"type": "integer",
					"description": "If it is active (1:Yes 0:No)",
					"example": "1",
					"x-mapField": "active",
					"format": "int32"
				},
				"Address": {
					"$ref": "#\/definitions\/Address",
					"x-not-in-post": false
				},
				"CheckingAccounts": {
					"$ref": "#\/definitions\/CheckingAccounts",
					"x-not-in-post": false
				},
				"CustomFieldValues": {
					"$ref": "#\/definitions\/CustomFieldValues",
					"x-not-in-post": false
				}
			}
		},
		"CustomFieldValues": {
			"properties": {
				"id": {
					"type": "integer",
					"description": "Custom Field ID",
					"readOnly": true,
					"x-isKey": true,
					"format": "int32"
				},
				"entityId": {
					"type": "integer",
					"description": "ID of the target Entity",
					"example": "120",
					"x-mapField": "entity_id",
					"format": "int32"
				},
				"entityType": {
					"type": "string",
					"description": "The type of entity for the custom field. Possible Values are: Entity.LoanSetup, Entity.LoanSettings, Entity.Customer, Entity.Employer, Entity.Investment, Entity.Investor",
					"example": "Entity.Investor",
					"x-mapField": "entity_type"
				},
				"customFieldId": {
					"type": "integer",
					"description": "The settings ID for the custom field.",
					"x-mapField": "custom_field_id",
					"format": "int32"
				},
				"customFieldValue": {
					"type": "string",
					"description": "The value of the custom field",
					"x-mapField": "custom_field_value"
				},
				"customFieldValueSetting": {
					"type": "string",
					"description": "Value setting for custom field",
					"x-mapField": "custom_field_value_setting"
				}
			}
		},
		"Checklist": {
			"properties": {
				"id": {
					"type": "integer",
					"readOnly": true,
					"x-isKey": true,
					"x-mapField": "id",
					"format": "int32"
				},
				"entityType": {
					"type": "string",
					"description": "Entities this checklist are part of",
					"x-mapField": "entity_type"
				},
				"title": {
					"type": "string",
					"description": "Title of the Checklist",
					"x-mapField": "title"
				},
				"description": {
					"type": "string",
					"description": "Description of the Checklist",
					"x-mapField": "description"
				},
				"created": {
					"type": "string",
					"readOnly": true,
					"description": "Creation Date of the Checklist (Read Only).",
					"example": "\/Date(1427829725)\/",
					"x-mapField": "created",
					"format": "date-time"
				},
				"active": {
					"type": "integer",
					"description": "Active status of the checklist (1:active 0:inactive)",
					"x-mapField": "active",
					"format": "int32"
				},
				"ChecklistItems": {
					"$ref": "#\/definitions\/Error-OData",
					"x-not-in-post": false
				}
			}
		},
		"ChecklistItems": {
			"properties": {
				"id": {
					"type": "integer",
					"readOnly": true,
					"x-isKey": true,
					"x-mapField": "id",
					"format": "int32"
				},
				"title": {
					"type": "string",
					"description": "Title of the Checklist Item",
					"x-mapField": "title"
				},
				"description": {
					"type": "string",
					"description": "Description of the Checklist Item",
					"x-mapField": "description"
				},
				"checklistId": {
					"type": "integer",
					"description": "ID of the parent checklist",
					"example": "1",
					"x-mapField": "checklist_id",
					"format": "int32"
				},
				"displayOrder": {
					"type": "integer",
					"description": "Display order ID",
					"example": "3",
					"x-mapField": "display_order",
					"format": "int32"
				},
				"created": {
					"type": "string",
					"readOnly": true,
					"description": "Creation date of the checklist item (Read Only)",
					"example": "\/Date(1427829732)\/",
					"x-mapField": "created",
					"format": "date-time"
				},
				"active": {
					"type": "integer",
					"description": "Active status of the checklist item (1:active 0:inactive)",
					"x-mapField": "active",
					"format": "int32"
				}
			}
		},
		"NoteCategories": {
			"properties": {
				"id": {
					"type": "integer",
					"readOnly": true,
					"x-isKey": true,
					"x-mapField": "id",
					"format": "int32"
				},
				"title": {
					"type": "string",
					"description": "Title of the note category",
					"example": "Title",
					"x-mapField": "title"
				},
				"entityType": {
					"type": "string",
					"description": "Entity type for the note category to belong to",
					"example": "Entity.Loan",
					"x-mapField": "entity_type"
				},
				"created": {
					"type": "string",
					"readOnly": true,
					"description": "Date the category was created as a Unix timestamp (Read Only)",
					"example": "t",
					"x-mapField": "created",
					"format": "date-time"
				},
				"active": {
					"type": "integer",
					"description": "If the category is active (1:Yes 0:No)",
					"example": "1",
					"x-mapField": "active",
					"format": "int32"
				}
			}
		},
		"DocSections": {
			"properties": {
				"id": {
					"type": "integer",
					"readOnly": true,
					"x-isKey": true,
					"x-mapField": "id",
					"format": "int32"
				},
				"title": {
					"type": "string",
					"description": "Title of the Document Section",
					"example": "Title",
					"x-mapField": "title"
				},
				"entityType": {
					"type": "string",
					"description": "The type of entity that the document section is for",
					"example": "Entity.Loan",
					"x-mapField": "entity_type"
				},
				"created": {
					"type": "string",
					"readOnly": true,
					"description": "Date the section was created as a Unix Timestamp (Read Only)",
					"example": "\/Date(1427829732)\/",
					"x-mapField": "created",
					"format": "date-time"
				},
				"active": {
					"type": "integer",
					"description": "Whether or not the section is active (1:Yes 0:No)",
					"example": "1",
					"x-mapField": "active",
					"format": "int32"
				}
			}
		},
		"EscrowAdjustments": {
			"required": [ "subset", "period" ],
			"properties": {
				"id": {
					"type": "integer",
					"readOnly": true,
					"x-isKey": true,
					"x-mapField": "id",
					"format": "int32"
				},
				"entityType": {
					"type": "string",
					"description": "Target entity type",
					"example": "Entity.Loan",
					"x-mapField": "entity_type"
				},
				"entityId": {
					"type": "integer",
					"description": "Targit entity ID",
					"example": "1",
					"x-mapField": "entity_id",
					"format": "int32"
				},
				"modId": {
					"type": "integer",
					"description": "Target modification ID",
					"example": "2",
					"x-mapField": "mod_id",
					"format": "int32"
				},
				"subset": {
					"type": "integer",
					"description": "Subset ID",
					"example": "2",
					"x-mapField": "subset",
					"format": "int32"
				},
				"period": {
					"type": "integer",
					"description": "Period of the escrow",
					"example": "10",
					"x-mapField": "period",
					"format": "int32"
				},
				"amount": {
					"type": "number",
					"description": "Amount of the escrow",
					"example": "150.00",
					"x-mapField": "amount",
					"format": "float"
				},
				"description": { "type": "string" }
			}
		},
		"EscrowTransactions": {
			"required": [ "loanId", "subset", "category", "description", "date", "type" ],
			"properties": {
				"id": {
					"type": "integer",
					"readOnly": true,
					"x-isKey": true,
					"x-mapField": "id",
					"format": "int32"
				},
				"loanId": {
					"type": "integer",
					"description": "Target loan ID",
					"example": "2",
					"x-mapField": "loan_id",
					"format": "int32"
				},
				"subset": {
					"type": "integer",
					"description": "Escrow subset ID",
					"example": "1",
					"x-mapField": "subset",
					"format": "int32"
				},
				"category": {
					"type": "integer",
					"description": "Escrow Transaction category ID",
					"example": "4",
					"x-mapField": "category",
					"format": "int32"
				},
				"vendorId": {
					"type": "integer",
					"description": "Escrow Transaction Vendor ID",
					"example": "4",
					"x-mapField": "vendor_id",
					"format": "int32"
				},
				"description": {
					"type": "string",
					"description": "Escrow Transactin description",
					"example": "Description",
					"x-mapField": "description"
				},
				"date": {
					"type": "string",
					"description": "Escrow transaction date (Unix Timestamp)",
					"example": "\/Date(1234569752)\/",
					"x-mapField": "date",
					"format": "date-time"
				},
				"type": {
					"type": "string",
					"description": "Transaction type",
					"example": "transaction.type.withdrawal",
					"x-mapField": "type",
					"enum": [ "transaction.type.deposit", "transaction.type.withdrawal" ],
					"x-see": true
				},
				"amount": {
					"type": "number",
					"description": "Amount of the transaction",
					"example": "50",
					"x-mapField": "amount",
					"format": "float"
				},
				"Vendors": {
					"$ref": "#\/definitions\/Vendors",
					"x-not-in-post": false
				}
			}
		},
		"EscrowCalculatedTx": {
			"properties": {
				"id": {
					"type": "integer",
					"readOnly": true,
					"x-isKey": true,
					"x-mapField": "id",
					"format": "int32"
				},
				"loanId": {
					"type": "integer",
					"description": "Target loan ID",
					"example": "1",
					"x-mapField": "loan_id",
					"format": "int32"
				},
				"subset": {
					"type": "integer",
					"description": "Subset ID",
					"example": "4",
					"x-mapField": "subset",
					"format": "int32"
				},
				"category": {
					"type": "integer",
					"description": "Category ID",
					"example": "2",
					"x-mapField": "category",
					"format": "int32"
				},
				"txId": {
					"type": "string",
					"description": "Transaction ID",
					"example": "transaction ID",
					"x-mapField": "tx_id"
				},
				"description": {
					"type": "string",
					"description": "Transaction description",
					"example": "Example",
					"x-mapField": "description"
				},
				"date": {
					"type": "string",
					"description": "Transaction date (Unix timestamp)",
					"example": "\/Date(12345522135)\/",
					"x-mapField": "date",
					"format": "date-time"
				},
				"type": {
					"type": "string",
					"description": "Transaction type",
					"example": "transaction.type.deposit",
					"x-mapField": "type"
				},
				"fromPayment": {
					"type": "integer",
					"description": "Payment ID to take amount from",
					"example": "1",
					"x-mapField": "from_payment",
					"format": "int32"
				},
				"escrowTransactionId": {
					"type": "integer",
					"description": "Escrow Transaction ID",
					"example": "1",
					"x-mapField": "escrow_transaction_id",
					"format": "int32"
				},
				"depositAmount": {
					"type": "number",
					"description": "Doposit Amount",
					"example": "1000.00",
					"x-mapField": "deposit_amount",
					"format": "float"
				},
				"withdrawalAmount": {
					"type": "number",
					"description": "Withdrawal Amount",
					"example": "1000.00",
					"x-mapField": "withdrawal_amount",
					"format": "float"
				},
				"balance": {
					"type": "number",
					"description": "Escrow balance after transaction",
					"example": "50.00",
					"x-mapField": "balance",
					"format": "float"
				},
				"sortOrder": {
					"type": "integer",
					"description": "Sort Order",
					"example": "1",
					"x-mapField": "sort_order",
					"format": "int32"
				}
			}
		},
		"EscrowSubsetOptions": {
			"required": [ "payoffOption", "paymentApplication", "disclosureLnAmtAdd" ],
			"properties": {
				"id": {
					"type": "integer",
					"readOnly": true,
					"x-isKey": true,
					"x-mapField": "id",
					"format": "int32"
				},
				"entityType": {
					"type": "string",
					"description": "Target entity type",
					"example": "Entity.Loan",
					"x-mapField": "entity_type"
				},
				"entityId": {
					"type": "integer",
					"description": "Target entity ID",
					"example": "1",
					"x-mapField": "entity_id",
					"format": "int32"
				},
				"subset": {
					"type": "string",
					"description": "Target escrow subset",
					"example": "4",
					"x-mapField": "subset"
				},
				"payoffOption": {
					"type": "string",
					"description": "Escrow payoff option",
					"example": "loan.escrowpayoff.standard",
					"x-mapField": "payoff_option",
					"enum": [ "loan.escrowpayoff.full", "loan.escrowpayoff.none", "loan.escrowpayoff.percentagefixed", "loan.escrowpayoff.standard", "loan.escrowpayoff.standardPlus", "loan.escrowpayoff.straightline" ],
					"x-see": true
				},
				"paymentApplication": {
					"type": "string",
					"description": "Escrow payment application",
					"example": "loan.escrowpmtapp.nextStandard",
					"x-mapField": "payment_application",
					"enum": [ "loan.escrowpmtapp.next", "loan.escrowpmtapp.nextStandard", "loan.escrowpmtapp.percentfixed", "loan.escrowpmtapp.prorate", "loan.escrowpmtapp.standard" ],
					"x-see": true
				},
				"aprInclude": {
					"type": "integer",
					"description": "Include in APR? (1:Yes 0:No)",
					"example": "0",
					"x-mapField": "apr_include",
					"format": "int32"
				},
				"scheduleInclude": {
					"type": "integer",
					"description": "Include in Schedule? (1:Yes 0:No)",
					"example": "1",
					"x-mapField": "schedule_include",
					"format": "int32"
				},
				"disclosureLnAmtAdd": {
					"type": "integer",
					"description": "Include in the disclosure Loan Amount? (1:Yes 0:No)",
					"example": "1",
					"x-mapField": "disclosure_lnamt_add",
					"format": "int32"
				},
				"interestBearing": {
					"type": "integer",
					"description": "Is escrow bucket interest bearing? (1:Yes 0:No)",
					"example": "0",
					"x-mapField": "interest_bearing",
					"format": "int32"
				},
				"escrowAnalysisEnabled": {
					"type": "integer",
					"x-mapField": "escrow_analysis_enabled",
					"format": "int32"
				},
				"cushion": {
					"type": "integer",
					"format": "int32"
				},
				"cushionFixedAmount": {
					"type": "number",
					"x-mapField": "cushion_fixed_amount",
					"format": "float"
				},
				"cushionPercentage": {
					"type": "number",
					"x-mapField": "cushion_percentage",
					"format": "float"
				},
				"escrowComputationYearStartDate": {
					"type": "string",
					"x-mapField": "escrow_computation_year_start_date",
					"format": "date-time"
				},
				"nextEscrowAnalysisDate": {
					"type": "string",
					"x-mapField": "next_escrow_analysis_date",
					"format": "date-time"
				},
				"deficiencyDelimitingDPD": {
					"type": "integer",
					"x-mapField": "deficiency_delimiting_dpd",
					"format": "int32"
				},
				"deficiencyDaysToPay": {
					"type": "integer",
					"x-mapField": "deficiency_days_to_pay",
					"format": "int32"
				},
				"deficiencyDelimitingAmount": {
					"type": "integer",
					"x-mapField": "deficiency_delimiting_amount",
					"format": "int32"
				},
				"deficiencyDelimitingDollar": {
					"type": "number",
					"x-mapField": "deficiency_delimiting_dollar",
					"format": "float"
				},
				"deficiencyDelimitingPercentage": {
					"type": "number",
					"x-mapField": "deficiency_delimiting_percentage",
					"format": "float"
				},
				"deficiencyCatchupPaymentNumber": {
					"type": "integer",
					"x-mapField": "deficiency_catchup_payment_number",
					"format": "int32"
				},
				"deficiencyActionA": {
					"type": "integer",
					"x-mapField": "deficiency_action_a",
					"format": "int32"
				},
				"deficiencyActionB": {
					"type": "integer",
					"x-mapField": "deficiency_action_b",
					"format": "int32"
				},
				"deficiencyActionC": {
					"type": "integer",
					"x-mapField": "deficiency_action_c",
					"format": "int32"
				},
				"shortageDaysToPay": {
					"type": "integer",
					"x-mapField": "shortage_days_to_pay",
					"format": "int32"
				},
				"shortageCatchupPaymentNumber": {
					"type": "integer",
					"x-mapField": "shortage_catchup_payment_number",
					"format": "int32"
				},
				"shortageDelimitingAmount": {
					"type": "integer",
					"x-mapField": "shortage_delimiting_amount",
					"format": "int32"
				},
				"shortageDelimitingDollar": {
					"type": "number",
					"x-mapField": "shortage_delimiting_dollar",
					"format": "float"
				},
				"shortageDelimitingPercentage": {
					"type": "number",
					"x-mapField": "shortage_delimiting_percentage",
					"format": "float"
				},
				"shortageActionA": {
					"type": "integer",
					"x-mapField": "shortage_action_a",
					"format": "int32"
				},
				"shortageActionB": {
					"type": "integer",
					"x-mapField": "shortage_action_b",
					"format": "int32"
				},
				"surplusAllowedSurplus": {
					"type": "number",
					"x-mapField": "surplus_allowed_surplus",
					"format": "float"
				},
				"surplusDaysToRefund": {
					"type": "integer",
					"x-mapField": "surplus_days_to_refund",
					"format": "int32"
				},
				"surplusDelimitingDPD": {
					"type": "integer",
					"x-mapField": "surplus_delimiting_dpd",
					"format": "int32"
				},
				"surplusActionA": {
					"type": "integer",
					"x-mapField": "surplus_action_a",
					"format": "int32"
				},
				"surplusActionB": {
					"type": "integer",
					"x-mapField": "surplus_action_b",
					"format": "int32"
				},
				"Disbursements": {
					"$ref": "#\/definitions\/Disbursements",
					"x-not-in-post": false
				}
			}
		},
		"EscrowSubsets": {
			"required": [ "entityType", "title", "payoffOption", "paymentApplication", "disclosureLnAmtAdd", "availability" ],
			"properties": {
				"id": {
					"type": "integer",
					"readOnly": true,
					"x-isKey": true,
					"x-mapField": "id",
					"format": "int32"
				},
				"leaseSalesTax": {
					"type": "integer",
					"description": "If this field is for Lease Sales Tax (1:Yes 0:No)",
					"example": "0",
					"x-mapField": "lease_sales_tax",
					"format": "int32"
				},
				"entityType": {
					"type": "string",
					"description": "The entity to which this escrow applies (usually Entity.Loan)",
					"example": "Entity.Loan",
					"x-mapField": "entity_type"
				},
				"title": {
					"type": "string",
					"description": "Title of the escrow subset.",
					"example": "Title",
					"x-mapField": "title"
				},
				"payoffOption": {
					"type": "string",
					"description": "Option for paying off the escrow; formatted \"loan.escrowpayoff.\" followed by the escrow payoff option.",
					"example": "loan.escrowpayoff.standard",
					"x-mapField": "payoff_option",
					"enum": [ "loan.escrowpayoff.full", "loan.escrowpayoff.none", "loan.escrowpayoff.percentagefixed", "loan.escrowpayoff.standard", "loan.escrowpayoff.standardPlus", "loan.escrowpayoff.straightline" ],
					"x-see": true
				},
				"paymentApplication": {
					"type": "string",
					"description": "How payments apply to this escrow subset; formatted \"loan.escrowpmtapp.\" followed by the payment application.",
					"example": "loan.escrowpmtapp.standard",
					"x-mapField": "payment_application",
					"enum": [ "loan.escrowpmtapp.next", "loan.escrowpmtapp.nextStandard", "loan.escrowpmtapp.percentfixed", "loan.escrowpmtapp.prorate", "loan.escrowpmtapp.standard" ],
					"x-see": true
				},
				"aprInclude": {
					"type": "integer",
					"description": "If it should be included in the APR calculation (1:Yes 0:No)",
					"example": "1",
					"x-mapField": "apr_include",
					"format": "int32"
				},
				"scheduleInclude": {
					"type": "integer",
					"description": "If it should be included in the loan schedule (1:Yes 0:No)",
					"example": "1",
					"x-mapField": "schedule_include",
					"format": "int32"
				},
				"created": {
					"type": "string",
					"readOnly": true,
					"description": "Date created as a Unix timestamp (Read only)",
					"example": "\/Date(1427414394)\/",
					"x-mapField": "created",
					"format": "date-time"
				},
				"active": {
					"type": "integer",
					"description": "If this bucket is active (1:Yes 0:No)",
					"example": "1",
					"x-mapField": "active",
					"format": "int32"
				},
				"disclosureLnAmtAdd": {
					"type": "integer",
					"description": "Whether or not to add it to the loan amount disclosure (1:Yes 0:No)",
					"example": "T",
					"x-mapField": "disclosure_lnamt_add",
					"format": "int32"
				},
				"availability": {
					"type": "string",
					"description": "The availability of the escrow (loan.escrowAvailability.both, loan.escrowAvailability.loan, loan.escrowAvailability.lease)",
					"example": "loan.escrowAvailability.both",
					"x-mapField": "availability",
					"enum": [ "loan.escrowAvailability.both", "loan.escrowAvailability.lease", "loan.escrowAvailability.loan" ],
					"x-see": true
				},
				"interestBearing": {
					"type": "integer",
					"description": "Is escrow bucket interest bearing (1:Yes 0:No)",
					"example": "0",
					"x-mapField": "interest_bearing",
					"format": "int32"
				},
				"escrowAnalysisEnabled": {
					"type": "integer",
					"x-mapField": "escrow_analysis_enabled",
					"format": "int32"
				},
				"cushion": {
					"type": "integer",
					"format": "int32"
				},
				"cushionFixedAmount": {
					"type": "number",
					"x-mapField": "cushion_fixed_amount",
					"format": "float"
				},
				"cushionPercentage": {
					"type": "number",
					"x-mapField": "cushion_percentage",
					"format": "float"
				},
				"escrowComputationYearStartDate": {
					"type": "string",
					"x-mapField": "escrow_computation_year_start_date",
					"format": "date-time"
				},
				"nextEscrowAnalysisDate": {
					"type": "string",
					"x-mapField": "next_escrow_analysis_date",
					"format": "date-time"
				},
				"deficiencyDelimitingDPD": {
					"type": "integer",
					"x-mapField": "deficiency_delimiting_dpd",
					"format": "int32"
				},
				"deficiencyDaysToPay": {
					"type": "integer",
					"x-mapField": "deficiency_days_to_pay",
					"format": "int32"
				},
				"deficiencyDelimitingAmount": {
					"type": "integer",
					"x-mapField": "deficiency_delimiting_amount",
					"format": "int32"
				},
				"deficiencyDelimitingDollar": {
					"type": "number",
					"x-mapField": "deficiency_delimiting_dollar",
					"format": "float"
				},
				"deficiencyDelimitingPercentage": {
					"type": "number",
					"x-mapField": "deficiency_delimiting_percentage",
					"format": "float"
				},
				"deficiencyCatchupPaymentNumber": {
					"type": "integer",
					"x-mapField": "deficiency_catchup_payment_number",
					"format": "int32"
				},
				"deficiencyActionA": {
					"type": "integer",
					"x-mapField": "deficiency_action_a",
					"format": "int32"
				},
				"deficiencyActionB": {
					"type": "integer",
					"x-mapField": "deficiency_action_b",
					"format": "int32"
				},
				"deficiencyActionC": {
					"type": "integer",
					"x-mapField": "deficiency_action_c",
					"format": "int32"
				},
				"shortageDaysToPay": {
					"type": "integer",
					"x-mapField": "shortage_days_to_pay",
					"format": "int32"
				},
				"shortageCatchupPaymentNumber": {
					"type": "integer",
					"x-mapField": "shortage_catchup_payment_number",
[...]
